@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.geospatial-python, .general-python, .earth-engine, .openlayers-render {
    height: 800px;
    width:max-content;
    justify-content: center;
    align-items: center;
}

.section-head {
    display: flex;
    width:max-content;
    margin-left: 100px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
}

.geo-sub-title{
    color: rgba(0, 0, 0, 0.326);
}

.code-container {
    display: flex;
    width:100%;
    height: 650px;
    overflow-x: scroll;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
}

.code-body {
    width: 500px;
    height: 600px;
    background-color: white;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0px 10px 24px rgba(140, 140, 140, 0.2);
    border-color: black;
}

.map-body {
    position: relative;
    width: 85vw;
    height: 600px;
    background-color: white;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0px 10px 24px rgba(140, 140, 140, 0.2);
    border-color: black;
}

.code-content {
    height: 420;
    border-radius: 15px 15px 0px 0px;
    margin: 0px;
    padding: 0px;
}

.language-python, .language-javascript {
    border-radius: 15px 15px 0px 0px;
    margin-top: -10px;
}

#code1, #code2, #code3, #code4, #code5, #code6, #code7 {
    height: 400px;
    width:auto;
    padding-top: -10px;
    overflow: auto;
}

.code-description {
    height: 160px;
    background-color: rgb(245, 255, 236);
    border-radius: 0px 0px 15px 15px;
    padding: 3px;
    text-align: justify;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.heading{
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    line-height: 0.5em;
}

.copy-button {
    z-index: 10;
    position: absolute;
    margin-left: 230px;
    margin-top: 422px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 4.5em;
}

.map-body .dropdowns{
    position: absolute;
    z-index: 1000;
    right: 30px;
    top: 30px;
}

.map-body #legend{
    position: absolute;
    display: flex;
    z-index: 1000;
    right: 30px;
    bottom: 30px;
    background: white; 
    padding: 5px; 
    border-radius: 4px; 
    font-size: 12px;
}

.map-body #selectionInfo{
    position: absolute;
    z-index: 1000;
    left: 30px;
    bottom: 30px;
    height: fit-content;
    width: fit-content;
    background: white; 
    padding: 5px; 
    border-radius: 4px; 
    font-size: 12px;
    text-align: center;
}

#hoverInfo{
    position:absolute;
    padding:4px 6px;
    background:rgba(0,0,0,0.7);
    color:#fff;
    font-size:12px;
    border-radius:3px;
    pointer-events:none;
    visibility:hidden;
}